.ch-container table {
	border: 1px solid black;
}
.ch-container tr:last-child {
	background-color: #eee;
}
.ch-container td:first-child {
	background-color: #eee;
}
.ch-container td {
	border: 1px solid black;
	font-size: 2em;
	width: 1.25em;
	height: 1.25em;
	text-align: center;
}
.ch-container .selected {
	background-color: #dd0 !important;
}
.ch-container .moveable {
	background-color: #0a0 !important;
}
.ch-container .error {
	background-color: #a00 !important;
}
.ch-container tr:nth-last-child(2n+2) td:nth-child(2n+2) {
    background-color: #666
}
.ch-container tr:nth-last-child(2n+3) td:nth-child(2n+3) {
    background-color: #666
}
